.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileSearch{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:
}
.form input{
  width: 15em;
  margin: 1em;
  font-size: 1.5rem;
  border-radius: 0.5em;
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px white;
}
.form span{
  color: red;
}
